.container{
    display: grid;
    grid-gap: 5px;
    justify-content: stretch;
    align-content: stretch;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "filter pagination buscador"
                         "filter productos productos";
  }
  
  
  .container > div {
    padding: 1em;
  }
  
  .filter {
    grid-area: filter;
     //background: #B6D7A8;
  }
  
  .buscador {
    grid-area: buscador;
    //background: #D9D2E9;
    justify-self: end;
  }
  
  .pagination{
    grid-area: pagination;
    // background: #D0E0E3;
    justify-self: start;
  }
  
  .productos {
    grid-area: productos;
    //background: #FFF2CC;
  }
  
  @media screen and (max-width: 500px) {
      .container {
        grid-gap: 5px;
        display: grid;
        justify-content: stretch;
        align-content: stretch;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 60px 1fr;
        grid-template-areas: "buscador"
                             "pagination"
                             "productos";
      }
  
      .filter{
        display:none;
      }
  }
  